@import url('https://fonts.cdnfonts.com/css/calculator');

* {
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    justify-content: center;
}

body, .container,  .button-container, .num-container, .num, .box {
    display: flex;
}
.container {
    width: 360px;
    height: 400px;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    background-color: #13171f ;
    box-shadow: 5px 3px 3px 1px;
}

.disp{
    margin-bottom: 16px;
    padding: 8px;
    font-size: 48px;
    background: #4b5668;
    border: 2px solid  black;
    border-radius: 4px;
    font-family: 'Calculator', sans-serif;
    box-shadow: 5px 3px 3px 1px;
}

.num, .box {
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 3px 2px rgb(0 0 0 / 0.8);
    background-color: #7a7a7a;
    width: 96px;
    height: 64px;
    font-size: 32px;
    font-family: sans-serif;
}
.container-buttons{
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    gap: 4px;
    
}

.row{
    display: flex;
    gap: 4px;
}

.clear {
    background-color: #9d0707;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;   
}
.eq {
    background-color: #4c7fd3;
}